body{
    background-color: white;
    color: black;
    font-family: 'SN Pro';

}

.logo{
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    color:darkolivegreen;
    margin-left: 0px;
    border: 7px solid darkolivegreen;
    padding: 10px;
    border-radius: 16px;
}

.부엉1-img{
    width: 90px;
    height: auto;
    margin-left: 500px;
    vertical-align: left;
    margin-top: 10px;

}

.hero-text{
    display: flex;
    flex-direction: horizontal;
    align-items: left;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: 'SN Pro'}

.buttons{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 500px; 
}

.level:hover{
    background-color: lightgrey;
    width: 410px;
    height: auto;
}

.level { 
    display: flex;
    flex-direction: column;
    border: 2px grey solid;
    padding: 10px;
    margin-bottom: 20px;    
    border-radius: 10px;
    width: 400px;
    height:auto
    font-family: 'SN Pro';
    box-shadow: 2px 2px grey;

}

.l0-img{ width: 90px;
}
.l1-img{
    width: 90px;
}
.l2-img {
    width: 90px;
}
.l3-img {
    width: 90px;
}
.l4-img {width: 90px;
}