body{
    background-color: white;
    color: black;
    font-family: 'Arial', sans-serif;

}

.logo{
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    color:darkolivegreen;
    margin-left: 0px;
    border: 7px solid darkolivegreen;
    padding: 10px;
    border-radius: 16px;
    
}

.부엉1-img{
    width: 90px;
    height: auto;
    margin-left: 500px;
    vertical-align: left;
    margin-top: 10px;

}

.hero{
    display: flex;
    flex-direction: column; }

.buttons{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 500px; 
}

.level { 
    display: flex;
    flex-direction: column;

}

.l0-img{ width: 90px;
}
.l1-img{
    width: 90px;
}
.l2-img {
    width: 90px;
}
.l3-img {
    width: 90px;
}
.l4-img {width: 90px;
}